{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"semi": "off",
		"arrow-parens": "off",
		"comma-dangle": "off",
		"require-jsdoc": "off",
		"indent": "off",
		"eol-last": "off",
		"no-tabs": "off",
		"linebreak-style": "off",
		"no-trailing-spaces": "off",
		"padded-blocks": "off",
		"no-unused-vars": "off",
		"operator-linebreak": "off",
		"no-undef" : "off"
	},
	"extends": ["eslint:recommended", "google"]
}